<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest | feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>
    
    <div class="container">  
        <% posts.forEach(function(elem){ %>
        <div class="box">
            <img src="/images/uploads/<%= elem.image %>" alt="image"></a>
            <div class="caption">@<%= elem.user.username %></div>
        </div> 
        <% })   %>
    </div>
     

                 

</html>